//
//
//
//
// <Подключаем шрифт к Google fonts>===================================================
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');
// </Подключаем шрифт к Google fonts>==================================================


// <Подключаем шрифт в папке файл fonts>===============================================
// </Подключаем шрифт в папке файл fonts>==============================================


// <Настройка переменых>===============================================================
$container: 1300px;
$colorWhile: #fff;
$colorDark: #000;
$family_standart: Roboto;
$family_0: Tektur;
$color_0: #68d372;
$color_1: #222222;
// </Настройка переменых>==============================================================


// <Оболочка>==========================================================================
.wrapper {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 1000px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 5000;
}

// </Оболочка>=========================================================================


// <Настройка основная сетка>==========================================================
.container {
    padding: 0px 0px;
    width: $container;
    margin: auto;
}

@media(max-width: 1050px) {
    .container {
        padding: 0px 20px;
        width: 100%;
    }
}

@media(max-width: 650px) {
    .container {
        padding: 0px 10px;
    }
}

// </Настройка основная сетка>=========================================================


// <Настройка основной контент>========================================================
.main {
    flex: 1 1 auto;
}

// </Настройка основной контент>=======================================================


// <Подключение стилистика>============================================================
// <Подключаем обнуления>==============================================================
@import "_nullStyle";
// </Подключаем обнуления>=============================================================

// <Подключаем header>=================================================================
@import "_header";
// </Подключаем header>================================================================

// </Подключаем фреймворки>
// @import "_settingSlick";

// <Подключаем прочие стилистика>======================================================
@import "_home";

// </Подключаем настройка стилистика>==================================================

// <Подключаем footer>=================================================================
// @import "_footer";
// </Подключаем footer>================================================================
// </Подключение стилистика>===========================================================

// <Не решеный проблема>===============================================================
// </Не решеный проблема>==============================================================


// <Особые классы>=====================================================================
// </Особые классы>====================================================================

// <Горячие классы>====================================================================
// </Горячие классы>===================================================================